/* vars*/
$white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;
$black: #414141;
$grey: #727272;
$body-font: 'fira_sansregular', Helvetica, serif;

/*layout*/
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "plugins/font-awesome";

/*styles*/
@import "sections/header";
@import "sections/footer";
@import "sections/content";
@import "sections/welcome";
@import "sections/portfolio";
@import "sections/career";

/*media*/
// @import "adaptive/media";
