.page-header {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    @extend %clearfix;
    @include fira();
    margin-bottom: rem(26px);

    @include phones {
        margin-bottom: rem(10px);
    }

    .container {
		    @extend %clearfix;

        @include phones {
            width: 18.75rem;
        }
	}
}

.page-header__left, .page-header__right {
    float: left;
    width: 50%;
}

.page-header__left {

    @include phones {
        width: 85%;
    }
}

.page-header__right {
    padding-top: rem(30px);
    text-align: right;
    position: relative;

    @include phones {
        width: 15%;
        text-align: center;
        padding: rem(12px) 0 0 rem(6px);
    }
}

.contacts__link {
    color: $blue;
    text-decoration: none;
    font-size: rem(18px);
    background: url('/img/decor/dot.png') 0 bottom repeat-x;
    @include fira(bold);

    @include phones {
        background-image: none;
    }

    &:hover {
      color: $red;
      background: url('/img/decor/dot-hover.png') 0 bottom repeat-x;
      transition: .2s;

      @include phones {
          background-image: none;
      }
    }

    &:before {

      @include phones {
        content: "\f095";
        font-family: FontAwesome;
        font-size: 40px;
      }
    }
}

.contacts__link_phone span {

    @include phones {
        display: none;
    }
}

.contacts {

    @extend %clearfix;
}

.user {
    padding: rem(13px) 0 rem(6px);

    @include phones {
        padding: rem(11px) 0 rem(6px);
    }
}

.user__avatar {
    overflow: hidden;
    @include inline-block(middle);
    width: rem(60px);
    height: rem(60px);
    border: 1px solid #bebebe;
    background-color: #f6f6f6;
    border-radius: 50%;
}

.user__avatar-img {
  	display: block;
  	max-width: 100%;
  	max-height: 100%;
}

.user__username {
    @include inline-block(middle);
    font-size: rem(18px);
    line-height: 1.555;
    color: $black;

    @include phones {
        font-size: rem(14px);
    }
}

.user__username_margin {
    margin-left: rem(15px);

    @include phones {
        width: 5rem;
    }
}

.contacts__link:hover + .contacts__dropdown {
    display: block;
}

.contacts__dropdown {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: .55556rem;
    display: none;
    position: absolute;
    right: -2.25rem;
    top: 4.4375rem;
    transition: .2s;
    z-index: 10;
    text-align: left;

    &:after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: - 1.1rem;
      height: 1.1rem;
      width: 100%;
    }

    &:before {
      display: block;
      content: "";
      width: rem(10px);
      height: rem(10px);
      position: absolute;
      right: rem(80px);
      top: -0.375rem;
      transform: rotate(80deg) skewY(-20deg) skewx(40deg);
      z-index: -1;
      background-color: #fff;
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
    }

    &:hover {
      display: block;
    }
}

.contacts__dropdown-item {
    @include fira(light);
    font-size: rem(18px);
    border-bottom: 1px solid #eee;
    transition: .2s;

    &:hover {
      background-color: $blue;
      color: $white;
    }

    &:hover:first-child {
      border-top-right-radius: .55556rem;
      border-top-left-radius: .55556rem;
    }

    &:hover:last-child {
      border-bottom-right-radius: .55556rem;
      border-bottom-left-radius: .55556rem;
    }
  }

.contacts__dropdown-link {
    text-decoration: none;
    padding: .5rem;
    display: block;
    color: $black;
    transition: .2s;

    &:hover {
      // background-color: $blue;
      color: $white;
    }

    &:hover:before {
      color:  $white;
    }
}

.contacts__dropdown-link_envelope {
    &:before {
        font-family: 'FontAwesome';
        content: "\f0e0";
        color: $blue;
    }
}

.contacts__dropdown-link_phone {
    &:before {
        font-family: 'FontAwesome';
        content: "\f095";
        color: $blue;
    }
}

.contacts__dropdown-link_skype {
    &:before {
        font-family: 'FontAwesome';
        content: "\f17e";
        color: $blue;
    }
}
